<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未登录</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/error.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid vertical-all">
            <div class="vertical">
                {{if $noLogin}}
                <h2 class="text-center text-danger">
                    你还未登录，暂无权限查看此页面,回到
                    <a href="/">首页</a>,
                    <a href="javascript:history.back(-1)">
                        返回上一页
                    </a>
                </h2>
                {{else if $notAdmin}}
                <h2 class="text-center text-danger">
                    你不是管理员，暂无权限查看此页面,回到
                    <a href="/">首页</a>,
                    <a href="javascript:history.back(-1)">
                        返回上一页
                    </a>
                </h2>
                {{else}}
                <h2 class="text-center text-danger">
                    没有找到页面，请确认输入是否正确,回到
                    <a href="/">首页</a>,
                    <a href="javascript:history.back(-1)">
                        返回上一页
                    </a>
                </h2>
                {{/if}}
            </div>
    </div>
</body>

</html>