{extends file = 'layout.html'}
{{block name=announcement}}
<!-- 公告开始 -->
<marquee behavior="scroll" direction="right">
    {{foreach from=$announcements item=announcementsItem}}
    {{$announcementsItem.content}}&nbsp;&nbsp;&nbsp;
    {{/foreach}}
</marquee>
<!-- 公告结束 -->
{{/block}}
{{block name=header}}
<!--页头说明 开始-->
<div class="container-fluid">
    <nav class="row">
        <div class="col-md-8">
            <!-- 不加这container时,需要在最新博文前面加两个空格 -->
            <div class="container">
                <div class="navbar-header">
                    <h2>最新博文</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar-header">
                <h2 class="d-flex justify-content-center">推荐</h2>
            </div>
        </div>
    </nav>
</div>
<!-- 页头说明结束 -->
{{/block}}
