<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息修改</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/self.css" type="text/css" rel="stylesheet">

</head>

<body>
    <!--导航栏开始-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="/">shen的博客</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 导航栏明细 -->
                                <li class="nav-item active">
                                    <a class="nav-link active" href="/">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/php">php</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/mysql">mysql</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/javaScript">javaScript</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/html">html</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/python">python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/java">java</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/foundation">计算机基础</a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 搜索框开始 -->
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                                </form>
                                <!-- 搜索框结束 -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/user/write">写博客</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">注册</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/login">登录</a>
                                </li>

                                <!-- 管理菜单 -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/manage">管理</a>
                                </li>
                                <!-- 管理菜单结束 -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--导航栏结束-->

    <!-- 公告开始 -->
    <marquee behavior="scroll" direction="right">
        网站公告
    </marquee>
    <!-- 公告结束 -->


    <!-- 主体内容开始 -->
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- row类确保两列布局 -->
            <div class="row">
                <!-- 左边修改信息主体内容开始 -->
                <div class="col-md-8">
                    <span class="text-danger">修改密码</span>
                    <form action="" method="post">
                        <!-- 开始 -->
                        <div class="form-group">
                            <label for="username">username</label>
                            <input type="text" class="form-control form-control-lg" id="username" readonly>
                            <small class="form-text text-muted">用户名不能修改</small>
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" class="form-control form-control-lg" id="password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">confirn pasword</label>
                            <input type="password" class="form-control form-control-lg" id="confirmPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <!-- 结束 -->
                    </form>
                </div>
                <!-- 博主信息开始 -->
                <div class="col-md-4">
                    <div class="container">
                        <!-- 个人信息列开始 -->
                        <div class="card" style="width: 26rem;">
                            <div class="card-body">
                                <h5 class="card-title">shenlink</h5>
                                <h6 class="card-subtitle mb-2 text-muted small">TA的个人主页&gt;
                                </h6>
                                <p class="card-text"></p>
                                <div class="text-dark d-flex justify-content-between">
                                    <dl class="text-center">
                                        <dt>
                                            原创
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            粉丝
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            获赞
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            评论
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                </div>
                                <a href="#" class="btn btn-info card-link">关注</a>
                                <a href="#" class="btn btn-success card-link">私信</a>
                                <a href="#" class="btn btn-primary card-link">管理文章</a>
                                <a href="#" class="btn btn-danger card-link">更改密码</a>
                            </div>
                        </div>
                        <div class="card" style="width: 26rem;">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">文章分类汇总</h6>
                                <div>
                                    <div class="justify-content-between d-flex">
                                        Dapibus ac facilisis in
                                        <span>4篇</span>
                                    </div>
                                    <div class="justify-content-between d-flex">
                                        Dapibus ac facilisis in
                                        <span>4篇</span>
                                    </div>
                                    <div class="justify-content-between d-flex">
                                        Dapibus ac facilisis in
                                        <span>4篇</span>
                                    </div>
                                    <div class="justify-content-between d-flex">
                                        Dapibus ac facilisis in
                                        <span>4篇</span>
                                    </div>
                                    <div class="justify-content-between d-flex">
                                        Dapibus ac facilisis in
                                        <span>4篇</span>
                                    </div>

                                    <!-- 展开开始 -->
                                    <div class="text-center">
                                        <a href="">展开</a>
                                    </div>

                                    <!-- 展开结束 -->
                                </div>
                            </div>
                        </div>
                        <!-- 个人信息列结束 -->
                    </div>
                </div>
                <!-- 博主信息结束 -->
            </div>
            <!-- 左边修改信息主体内容结束 -->


        </div>
    </div>
    </div>
    <!-- 主体内容结束 -->

    <!-- 空行开始 -->
    <br>
    <br>
    <!-- 空行结束 -->

    <!-- 公共底部开始-->
    <footer class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center bg-info">Fixed bottom</div>
            </div>
        </div>
    </footer>
    <!-- 公告底部结束 -->

</body>

</html>