<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/self.css" type="text/css" rel="stylesheet">
</head>

<body>
    <!--导航栏开始-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="/">shen的博客</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 导航栏明细 -->
                                <li class="nav-item active">
                                    <a class="nav-link active" href="/">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/php">php</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/mysql">mysql</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/javaScript">javaScript</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/html">html</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/python">python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/java">java</a>
                                </li>

                                <!-- 下拉菜单开始  -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        计算机基础
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">数据结构与算法</a>
                                        <a class="dropdown-item" href="#">操作系统</a>
                                        <a class="dropdown-item" href="#">计算机网络</a>
                                        <a class="dropdown-item" href="#">计算机组成原理</a>
                                    </div>
                                </li>
                                <!-- 下拉菜单结束 -->

                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 搜索框开始 -->
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                                </form>

                                <!-- 搜索框结束 -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/user/write">写博客</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">注册</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/login">登录</a>
                                </li>

                                <!-- 下拉菜单 管理员操作 -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        操作
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">分类管理</a>
                                        <a class="dropdown-item" href="#">博文管理</a>
                                        <a class="dropdown-item" href="#">用户管理</a>
                                        <a class="dropdown-item" href="#">公告管理</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">退出登录</a>
                                    </div>
                                </li>

                                <!-- 下拉菜单结束 -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--导航栏结束-->

    <!-- 公告开始 -->
    <marquee behavior="scroll" direction="right">
        网站公告
    </marquee>
    <!-- 公告结束 -->

    <!-- 主体内容开始 -->
    <div class="container">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>用户登录:</h3>
                </div>
            </div>
        </div>

        <!-- 表单开始 -->
        <form action="checkLogin.php" method="post">
            <!-- 用户名输入框开始 -->
            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username" id="username"
                    onblur="checkUsername()" onfocus="userOriginal()">
                <!-- 提示用户注意的信息 -->
                <small class="form-text text-muted" id="userMessage">
                    <img src="/static/image/mess.png" alt="" id="userImg">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名
                </small>
            </div>
            <!-- 用户名输入框结束 -->

            <!-- 密码输入框开始 -->
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" placeholder="请输入密码" name="password" id="password"
                    onblur="checkPassword()" onfocus="passwordOriginal()">
                <span id="rePassword">
                    <img src="/static/image/close.png" alt="显示密码 " id="passwordEye" onclick="clickEye()">
                </span>
                <!-- 提示用户注意的信息 -->
                <small class="form-text text-muted" id="passwordTip">
                    <img src="/static/image/mess.png" alt="" id="passwordImg">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入密码
                </small>
            </div>
            <!-- 密码输入框结束 -->

            <!-- 七天免登录单选框开始 -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sevenCheck" id="sevenCheck">
                    <label for="sevenCheck">
                        七天内自动登录
                    </label>
                </div>
            </div>
            <!-- 七天免登录单选框开始 -->

            <button type="reset" class="btn btn-primary">重置</button>
            <button type="submit" class="btn btn-primary" onclick="return check()">提交</button>
        </form>
        <!-- 表单结束 -->
    </div>
    <!-- 主体内容结束 -->

    <!-- 公共底部开始-->
    <footer class="container-fluid">
        <div class="row" id="footer">
            <div class="col-md-12">
                <div class="text-center bg-info">Fixed bottom</div>
            </div>
        </div>
    </footer>
    <!-- 公告底部结束 -->
    <script>
        // 这个fixed-bottom值适合于注册页面和登录页面，因为底部是多个页面共用一份的
        let footer = document.querySelector('footer');
        footer.className = "container-fluid fixed-bottom";

        function checkUsername() {
            // 这三个元素得放在函数内，因为每次失去焦点后，都能够重新获得输入框的值内容，方便后面判断
            // 获取用户名输入框元素
            let username = document.querySelector('#username');
            // 获取输入的用户名的值
            let usernameValue = username.value;
            // 获取提示用户注意的信息的节点元素
            let userMessage = document.querySelector('#userMessage');
            // 用户名输入框为空时
            if (usernameValue.length === 0) {
                username.className = "form-control is-invalid"
                userMessage.innerHTML = `<span style="color:red;">用户名不能为空</span>`;
                return false;
            }
        }

        function checkPassword() {
            // 这三个元素得放在函数内，因为每次失去焦点后，都能够重新获得输入框的值内容，方便后面判断
            // 获取密码输入框元素
            let password = document.querySelector('#password');
            // 获取输入的密码的值
            let passwordValue = password.value;
            // 获取提示用户注意的信息的节点元素
            let passwordTip = document.querySelector('#passwordTip');
            // 密码输入框为空时
            if (passwordValue.length === 0) {
                password.className = "form-control is-invalid"
                passwordTip.innerHTML = `<span style="color:red;">密码不能为空</span>`;
                return false;
            }
        }

        // 用户名输入框失去焦点后，再次获得焦点时，恢复到初始样式，提示也会恢复到初始值
        function userOriginal() {
            // 其实这两条语句是不用加的，但是感觉怪怪的，就加上了
            let username = document.querySelector('#username');
            // 获取提示用户注意的信息的节点元素
            let userMessage = document.querySelector('#userMessage');
            // 还原输入框的初始样式
            username.className = "form-control"
            userMessage.innerHTML = `<img src="/static/image/mess.png" id="userImg">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名`;
        }

        // 密码输入框失去焦点后，再次获得焦点时，恢复到初始样式，提示也会恢复到初始值
        function passwordOriginal() {
            // 获取密码输入框元素
            let password = document.querySelector('#password');
            // 获取提示用户注意的信息的节点元素
            let passwordTip = document.querySelector('#passwordTip');
            // 还原输入框的初始样式
            password.className = "form-control"
            passwordTip.innerHTML = `<img src="/static/image/mess.png" id="passwordImg">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入密码`;
        }

        // 获取眼睛图案
        let passwordEye = document.querySelector('#passwordEye');
        // 这个变量的声明不能放在函数内，若放在函数内，那每次点击调用函数时，均会flag = false
        let flag = false;
        // 这个变量的声明不能放在函数内，若放在函数内，那每次点击调用函数时，均会flag = false
        function clickEye() {
            if (flag == false) {
                // 把密码输入的框变成文本输入框
                password.type = 'text';
                // 切换成睁眼的图片
                passwordEye.src = '/static/image/open.png';
                // 改变图片的alt值
                passwordEye.alt = '隐藏密码';
                // flag置true,下次再点击就切换成闭眼的图片
                flag = true;
            } else {
                // 把密码输入的框变成文本输入框
                password.type = 'password';
                // 切换成睁眼的图片
                passwordEye.src = '/static/image/close.png';
                // 改变图片的alt值
                passwordEye.alt = '显示密码';
                // flag置false,下次再点击就切换成睁眼的图片
                flag = false;
            }
        }
        function check() {
            return checkUsername() && checkPassword();
        }
    </script>
    <!-- 链接jquery3.2.1 -->
    <script src="/static/js/jquery.js"></script>
    <!-- 链接popper1.12.5 -->
    <script src="/static/js/popper.js"></script>
    <!-- 链接bootstrap4.1.0 -->
    <script src="/static/js/bootstrap.js"></script>
    <!--添加富文本编辑器wangEditor-->
    <script src="/static/wangeditor/dist/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var editor = new wangEditor('editor');
        editor.create();
    </script>
</body>

</html>