<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/admin.css" type="text/css" rel="stylesheet">

</head>

<body>
    <!--导航栏开始-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="/">shen的博客</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 导航栏明细 -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/php">php</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/mysql">mysql</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/javaScript">javaScript</a>
                                </li>

                            </ul>
                        </div>
                        <div class="collapse navbar-collapse offset-3" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">

                                <!-- 搜索框开始 -->
                                <form action="/article/search" method="POST" class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="搜索用户或文章"
                                        name="search">
                                    <select name="name" class="btn btn-outline-success my-1 my-sm-0">
                                        <option value="1">用户</option>
                                        <option value="2">文章</option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">搜索</button>
                                </form>
                                <!-- 搜索框结束 -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/user/write">写博客</a>
                                </li>
                                {{if $username}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/{{$username}}">{{$username}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/logout"
                                        onclick="return confirm('确定退出登录?');">退出登录</a>
                                </li>
                                {{else}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">注册</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/logi">登录</a>
                                </li>
                                {{/if}}

                                <!-- 管理菜单 -->
                                {{if $username == 'shen'}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/manage">管理</a>
                                </li>
                                {{else}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/manage">管理</a>
                                </li>
                                {{/if}}
                                <!-- 管理菜单结束 -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--导航栏结束-->

    <!-- 公告开始 -->
    <marquee behavior="scroll" direction="right">
        网站公告
    </marquee>
    <!-- 公告结束 -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- 列表组开始 -->
                <ul class="list-group manage-list">
                    <li class="list-group-item">文章管理</li>
                    <li class="list-group-item">评论管理</li>
                    <li class="list-group-item">私信管理</li>
                </ul>
                <!-- 列表组结束 -->
            </div>
            <div class="col-md-10 manage-item" style="display: block;">
                <table class="table table-hover table-bordered text-center">
                    <fieldset>
                        <legend class="text-center">文章管理</legend>
                    </fieldset>
                    <thead>
                        <tr>
                            <th scope="col">标题</th>
                            <th scope="col">状态</th>
                            <th scope="col">创建时间</th>
                            <th scope="col">更新时间</th>
                            <th scope="col">分类</th>
                            <th scope="col">评论数</th>
                            <th scope="col">点赞数</th>
                            <th scope="col">收藏数</th>
                            <th scope="col">分享数</th>
                            <th scope="col">去阅读</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{foreach from=$articles item=articlesIndex}}
                        <tr>
                            <td>
                                {{$articlesIndex.title}}
                            </td>
                            <td>
                                {{$articlesIndex.status}}
                            </td>
                            <td>
                                {{$articlesIndex.created_at}}
                            </td>
                            <td>
                                {{$articlesIndex.updated_at}}
                            </td>
                            <td>
                                {{$articlesIndex.category}}
                            </td>
                            <td>
                                {{$articlesIndex.comment_count}}
                            </td>
                            <td>
                                {{$articlesIndex.praise_count}}
                            </td>
                            <td>
                                {{$articlesIndex.collect_count}}
                            </td>
                            <td>{{$articlesIndex.share_count}}</td>
                            <td><a href="/article/{{$articlesIndex.article_id}}">文章链接</a> </td>
                            <td>
                                <button class="btn btn-primary btn-sm editArticle"
                                    data-editArticle={{$articlesIndex.article_id}}>
                                    编辑
                                </button>
                                <button class="btn btn-primary btn-sm delArticle"
                                    data-delArticle={{$articlesIndex.article_id}}>
                                    删除
                                </button>
                            </td>
                        </tr>
                        {{/foreach}}
                    </tbody>
                </table>

                <!-- 分页开始 -->

                <!-- 分页结束 -->
            </div>
            <div class="col-md-10 manage-item">
                <table class="table table-hover table-bordered text-center">
                    <fieldset>
                        <legend class="text-center">评论管理</legend>
                    </fieldset>
                    <thead>
                        <tr>
                            <th scope="col">评论内容</th>
                            <th scope="col">评论时间</th>
                            <th scope="col">用户</th>
                            <th scope="col">文章链接</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 这个foreach得放在tr的上面 -->
                        {{foreach from=$comment item=commentIndex}}
                        <tr>
                            <td>
                                {{$commentIndex.content}}
                            </td>
                            <td>
                                {{$commentIndex.created_at}}
                            </td>
                            <td>
                                {{$commentIndex.username}}
                            </td>
                            <td>
                                <a href="/article/{{$commentIndex.article_id}}">文章链接</a>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm delComment"
                                    data-delComment={{$commentIndex.comment_id}}>
                                    删除
                                </button>
                            </td>
                        </tr>
                        {{/foreach}}
                    </tbody>
                </table>
                <!-- 分页开始 -->

                <!-- 分页结束 -->
            </div>
            <div class="col-md-10 manage-item">
                <table class="table table-hover table-bordered text-center">
                    <fieldset>
                        <legend class="text-center">私信管理</legend>
                    </fieldset>
                    <thead>
                        <tr>
                            <th scope="col">私信</th>
                            <th scope="col">发信人</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{foreach from=$information item=informationIndex}}
                        <tr>
                            <td>
                                {{$informationIndex.content}}
                            </td>
                            <td>
                                {{$informationIndex.username}}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm delInformation"
                                    data-delInformation={{$informationIndex.information_id}}>
                                    删除
                                </button>
                            </td>
                        </tr>
                        {{/foreach}}
                    </tbody>
                </table>
                <!-- 分页开始 -->

                <!-- 分页结束 -->
            </div>
        </div>
    </div>

    <!-- 空行开始 -->
    <br>
    <br>
    <!-- 空行结束 -->

    <!-- 公共底部开始-->
    <footer class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center bg-info">Fixed bottom</div>
            </div>
        </div>
    </footer>
    <!-- 公告底部结束 -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/layer-v3.1.1/layer/layer.js"></script>
    <script src="/static/js/manage.js"></script>

</body>

</html>