<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/css/self.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--导航栏开始-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="/">shen的博客</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 导航栏明细 -->
                                <li class="nav-item active">
                                    <a class="nav-link active" href="/">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/php">php</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/mysql">mysql</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/javaScript">javaScript</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/html">html</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/python">python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category/java">java</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/category/foundation">计算机基础</a>
                                </li>

                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 搜索框开始 -->
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                                </form>

                                <!-- 搜索框结束 -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/user/write">写博客</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">注册</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/login">登录</a>
                                </li>

                                <!-- 下拉菜单 管理员操作 -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        操作
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">分类管理</a>
                                        <a class="dropdown-item" href="#">博文管理</a>
                                        <a class="dropdown-item" href="#">用户管理</a>
                                        <a class="dropdown-item" href="#">公告管理</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">退出登录</a>
                                    </div>
                                </li>

                                <!-- 下拉菜单结束 -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--导航栏结束-->

    <!-- 公告开始 -->
    <marquee behavior="scroll" direction="right">
        网站公告
    </marquee>
    <!-- 公告结束 -->

    <!-- 主体内容开始 -->
    <div class="container">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>用户注册:</h3>
                </div>
            </div>
        </div>
        <!-- 表单开始 -->
        <form action="../user/register" method="post">
            <!-- 用户名开始 -->
            <div class="form-group">
                <label for="username">用户名：</label>
                <!-- userOriginal()是输入框在此聚焦发生的事件，还原成初始样式 -->
                <input type="text" class="form-control" placeholder="请输入用户名" name="username" id="username"
                    onblur="checkUsername()" onfocus="userOriginal()">
                <!-- 提示用户注意的信息 -->
                <small class="form-text text-muted" id="userMessage">
                    <img src="/static/image/mess.png" id="userImg">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名
                </small>
            </div>
            <!-- 用户名结束 -->

            <!-- 密码开始 -->
            <div class="form-group">
                <label for="password">密码：</label>
                <!-- passwordOriginal()是输入框在此聚焦发生的事件，还原成初始样式 -->
                <input type="password" class="form-control" placeholder="请输入密码" name="password" id="password"
                    onblur="checkPassword()" onfocus="passwordOriginal()">
                <!-- rePassword是定位父级，相对定位 -->
                <div id="rePassword">
                    <!-- 显示隐藏密码 -->
                    <img src="/static/image/close.png" alt="显示密码" id="passwordEye" onclick="clickEye()">
                </div>
                <!-- 提示用户注意的信息 -->
                <small class="form-text text-muted" id="passwordTip">
                    <img src="/static/image/mess.png" id="passwordImg">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码为6到16位，且必须包含数字，小写字母，大写字母和特殊字符
                </small>
            </div>
            <!-- 密码结束 -->

            <!-- 确认密码开始 -->
            <div class="form-group">
                <label for="confirm-password">确认密码：</label>
                <!-- conPasswordOriginal()是输入框在此聚焦发生的事件，还原成初始样式 -->
                <input type="password" class="form-control" placeholder="请再次输入密码" name="confirmPassword"
                    id="confirmPassword" onblur="checkConPassword()" onfocus="conPasswordOriginal()">
                <!-- reCOnPassword是定位父级，相对定位 -->
                <span id="reConPassword">
                    <!-- 显示隐藏密码 -->
                    <img src="/static/image/close.png" alt="隐藏密码" id="conPasswordEye"
                        onclick="clickConEye()">
                </span>
                <!-- 提示用户注意的信息 -->
                <small class="form-text text-muted" id="conPasswordTip">
                    <img src="/static/image/mess.png" id="conPasswordImg">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    确认密码
                </small>
            </div>
            <!-- 确认密码结束 -->
            <button type="reset" class="btn btn-primary">重置</button>
            <button type="submit" class="btn btn-primary" onclick="return check()">提交</button>
        </form>
        <!-- 表单结束 -->
    </div>
    <!-- 主体内容结束 -->

    <!-- 公共底部开始-->
    <footer class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center bg-info">Fixed bottom</div>
            </div>
        </div>
    </footer>
    <!-- 公告底部结束 -->
    <script src="/static/js/register.js"></script>
    <!-- 链接jquery3.2.1 -->
    <script src="/static/js/jquery.js"></script>
    <!-- 链接popper1.12.5 -->
    <script src="/static/js/popper.js"></script>
    <!-- 链接bootstrap4.1.0 -->
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>