<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/self.css" type="text/css" rel="stylesheet">
    <link href="/static/css/personal.css" type="text/css" rel="stylesheet">

</head>

<body>
    <!-- 导航栏 -->
    <div class="container-fluid">
        <div class="row">
            <!--导航栏开始-->
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="/">shen的博客</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!-- 导航栏明细 -->
                                <li class="nav-item active">
                                    <a class="nav-link active" href="/">首页</a>
                                </li>
                                {{foreach from=$categorys item=categorysItem}}
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="/category/{{$categorysItem.categorys}}">{{$categorysItem.category}}
                                    </a>
                                </li>
                                {{/foreach}}
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse offset-3" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">

                                <!-- 搜索框开始 -->
                                <form action="/article/search" method="POST" class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="搜索用户或文章"
                                        name="search">
                                    <select name="name" class="btn btn-outline-success my-1 my-sm-0">
                                        <option value="1">用户</option>
                                        <option value="2">文章</option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">搜索</button>
                                </form>
                                <!-- 搜索框结束 -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/user/write">写博客</a>
                                </li>

                                {{if $username}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/{{$username}}" title="个人中心"><img
                                            src="/static/image/avatar.jpg" width="25px" height="25px" alt="个人中心"
                                            style="border-radius:50%">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/logout"
                                        onclick="return confirm('确定退出登录?');">退出登录</a>
                                </li>
                                {{else}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">注册</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/login">登录</a>
                                </li>
                                {{/if}}

                                <!-- 管理菜单 -->
                                {{if $username == 'shen'}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/manage">管理</a>
                                </li>
                                {{else}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/manage">管理</a>
                                </li>
                                {{/if}}
                                <!-- 管理菜单结束 -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- 导航栏结束 -->
        </div>
    </div>

    <!-- 公告开始 -->
    <marquee behavior="scroll" direction="right">
        网站公告
    </marquee>
    <!-- 公告结束 -->

    <!--页头说明开始-->
    <div class="container-fluid">
        <div class="col-md-12">
            <nav class="row">
                <div class="col-md-9">
                    <!-- 不加这container时,需要在最新博文前面加两个空格 -->
                    <div class="container">
                        <div class="navbar-header">
                            <h4>文章</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- 不加这container时,需要在最新博文前面加两个空格 -->
                    <div class="container">
                        <div class="navbar-header">
                            <h2 class="d-flex justify-content-center">博主信息</h2>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </div>
    <!-- 页头说明结束 -->

    <!-- 主体内容开始 -->
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- 确保两列布局的关键 -->
            <div class="row">
                <!-- 文章列表开始 -->
                <div class="col-md-8">

                    <!-- 文章列表开始 -->
                        <table class="table table-striped table-bordered ">
                            {{foreach from=$articles item=articlesItem}}
                            <tr>
                                <td>
                                    <a href="/article/{{$articlesItem.article_id}}">{{$articlesItem.title}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{$articlesItem.content}}</p>
                                    <div class="justify-content-start text-dark">
                                        <span>
                                            {{$articlesItem.created_at}}
                                        </span>
                                        <span class="offset-md-1">
                                            收藏数
                                            {{$articlesItem.collect_count}}
                                        </span>
                                        <span class="offset-md-1">
                                            评论数
                                            {{$articlesItem.comment_count}}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            {{/foreach}}
                        </table>
                    <!--分页开始-->
                    <ul class="pagination justify-content-center">

                    </ul>
                    <!-- 分页结束 -->
                </div>

                <!-- 文章列表结束 -->

                <!-- 博主信息开始 -->
                <div class="col-md-4">
                    <div class="container">
                        <!-- 个人信息列开始 -->
                        <div class="card" style="width: 26rem;">
                            <div class="card-body">
                                <h5 class="card-title">作者：<a href="/user/{{$users.username}}" class="text-info">
                                        {{$users.username}}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted small">TA的个人主页&gt;
                                </h6>
                                <h6>
                                    个人介绍
                                </h6>
                                <div>
                                    {{$users.introduction}}
                                </div>
                                <p class="card-text"></p>
                                <div class="text-dark d-flex justify-content-between">
                                    <dl class="text-center">
                                        <dt>
                                            原创
                                        </dt>
                                        <dd>
                                            {{$users.article_count}}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            粉丝
                                        </dt>
                                        <dd>
                                            {{$users.fans_count}}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            获赞
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            评论
                                        </dt>
                                        <dd>
                                            179
                                        </dd>
                                    </dl>
                                </div>
                                <!-- 如果没有登录呢？ -->
                                <!-- 两个参数，一个是关注者，一个是作者 -->
                                {{if $users.username !== $username}}
                                <button type="button" class="btn btn-info card-link" id="follow"
                                    data-username={{$username}} data-author={{$users.username}}>
                                    {{if $follows}}
                                    已关注
                                    {{else}}
                                    关注
                                    {{/if}}
                                </button>
                                <button type="button" class="btn btn-success card-link" data-author={{$users.username}} id="information"
                                    onclick="addInformation()">私信</button>
                                {{else}}
                                <a href="/user/manage" class="btn btn-primary card-link">管理</a>
                                <a href="/user/change" class="btn btn-danger card-link">
                                    更改信息
                                </a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card" style="width: 26rem;">
                            <div class="card-body">
                                <h5 class="card-title">文章分类</h5>
                                <div>
                                    <div>
                                        Dapibus ac facilisis in
                                    </div>
                                    <div>
                                        Dapibus ac facilisis in
                                    </div>
                                    <div>
                                        Dapibus ac facilisis in
                                    </div>
                                    <div>
                                        Dapibus ac facilisis in
                                    </div>
                                    <div>
                                        Dapibus ac facilisis in
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 个人信息列结束 -->
                    </div>
                </div>
                <!-- 博主信息结束 -->
            </div>
        </div>
    </div>
    <!-- 主体内容结束 -->

    <!-- 空行开始 -->
    <br>
    <br>
    <!-- 空行结束 -->

    <!-- 公共底部开始-->
    <footer class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center bg-info">Fixed bottom</div>
            </div>
        </div>
    </footer>
    <!-- 公告底部结束 -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/layer-v3.1.1/layer/layer.js"></script>
    <script src="/static/js/user.js"></script>

</body>

</html>